@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  font-family: 'Orbitron', sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.2rem;
  animation: from-left 500ms;
}
.equal-key {
  grid-column: 3/5;
}

button {
  font-size: 2rem !important;
}
textarea {
  resize: none;
  overflow: auto;
  font-size: 3rem !important;
  line-height: 3rem !important;
}

.del-key {
  font-size: 2rem;
}
.del-key:hover {
  cursor: pointer;
}
.del-key:active {
  background: #ff4444;
  color: white;
}
